@model WrapperModel

<div class="container">
    <div class="row">
        <div class="col">
            <h3>@Model.newWedding.WedderOne & @Model.newWedding.WedderTwo</h3>
        </div>
        <div class="col">
            <a href="/Dashboard" class="btn btn-success">Dashboard</a>
            <a href="/SignOut" class="btn btn-dark">Log Out</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>@Model.newWedding.Date</p>
            <p>Guests</p>
            @{
                foreach(var guest in Model.newWedding.WeddingGuest)
                {
                    <p>@guest.User.FirstName @guest.User.LastName</p>
                }
            }
        </div>
    </div>
</div>



